.loginBlock{
    margin-top: 30px;
    width: 30%;
}

.verifyBlock{
    float: left;
}

.errorMessage{
    color: red;
}

.createPost{
    margin-top: 20px;
    width: 60%;
}

.postHeader_left{
    width: 95%;
    float: left;
}

.postHeader_right{
}

.postBottom_left{
    width: 90%;
    float: left;
    font-size: 13px;
    color: #9d9d9d;
}